<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
</head>
<body>

    @{
        try
        {
            WebMail.Send(to: "contato@dobleve.com.br", subject: "Teste E-mail PT", body: "Raios ve se funciona agora");
        }
        catch (Exception ex)
        {
           <p>
               @ex
           </p>
        }
    }

    <h2>Default</h2>

</body>

</html>


