
@{
    ViewBag.Title = "EnviarCorreo";
}

<h2>EnviarCorreo</h2>

<form method="post" enctype="multipart/form-data" style="width:600px">

    <div>
        <label>Nome</label>
        <input class="form-control" type="text" name="nome" placeholder="Nome" />
    </div>
    <br />
    <div>
        <label>Email</label>
        <input class="form-control" type="email" name="email" placeholder="E-mail" />
    </div>
    <br />
    <div>
        <label>Assunto</label>
        <input class="form-control" type="text" name="assunto" placeholder="Assunto" />
    </div>
    <br />
    <div>
        <label>Mensagem</label>
        <br />
        <textarea style="width:600px; height:150px;" name="mensagem" placeholder="Escreva Aqui"></textarea>
    </div>
    <br />
    @*<div>
        <input type="file" class="btn btn-default" name="arquivo" />
    </div>
    <br />*@
    <div>
        <button id="enviar" class="btn btn-primary" type="submit">Enviar</button>
        <h4 style="color:blue;">@ViewBag.Mensagem</h4>
        <h4 style="color:red;">@ViewBag.Error</h4>
    </div>

</form>



