
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Enviar", "EnviarCorreo", "EnviarCorreo" )</li>
    </ul>
</div>

